<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Portfolio</title>
</head>
<body>
<header>
	<nav></nav>
</header>
<main>
	<p title="view my work">Asspiring web developer and It security professional</p>
	
	<div id="projects">
		<ul>
		<%= link_to image_tag('DishMR.png'), 'http://atphinn.com/Dissh/Dishh2.html', :target => '_blank'%>
	    <%= link_to image_tag('NinjaRun.png'), '#', :target => '_blank'%> 
	    <%= link_to image_tag('angular2.PNG'), '#', :target => '_blank'%> 
	    <%= link_to image_tag('wikiapp.png'), 'http://atphinn.com/wikifinder/', :target => '_blank'%> 
	    <%= link_to image_tag('rubysite.png'), 'http://alexphinn.blogspot.com', :target => '_blank'%>
		</ul>
	</div>

</main>	

</body>
</html>