<!DOCTYPE html>
<html>
  <head>
    <title>Stories</title>
    <%= csrf_meta_tags %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" herf="https://fonts.googleapis.com/css?family=Roboto:300,100,500,700">
  </head>

  <body>
  <div id="menu">
        <ul>
            <li><%= link_to 'Home' .html_safe, 'pages#home' %> </li>
            <li><%= link_to 'About' .html_safe, 'pages#about' %> </li>
            <li><a href="#">Menu Item 3</a></li>
            <li><a href="#">Menu Item 4</a></li>
           
    </div>
    <div id="right">
        <div id="menubar">
            <div id="button">
                Menu
            </div>
        </div>
         	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
         	<footer>
         		
         	</footer>
    <%= yield %>
  
  </body>
</html>
